<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Subwords Player Intro</title>
</head>
<body>
    <div id="app">
        <v-app class="green darken-4 white--text">
            <v-content>
                <v-container>
                    <v-layout align-center justify-center column fill-height>
                        <h1 style="margin: 0.7em;">Join a Game</h1>
                        <v-text-field
                            label="playerName"
                            v-model="playerName"
                            placeholder="Name"
                            solo
                        ></v-text-field>
                        <v-text-field
                            label="roomCodeInput"
                            v-model="roomCodeInput"
                            placeholder="Room Code"
                            solo
                            maxlength="4"
                        ></v-text-field>
                        <v-btn dark @click = "login()">Login</v-btn>
                        <v-btn dark @click = "startGame()">Start Game</v-btn>
                    </v-layout>
                </v-container>
            </v-content>
        </v-app>
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script>

var app = new Vue({
    el: '#app',
    data: {
        roomCode: "asdf",
        authentication: false,
        playerName: "",
        roomCodeInput: ""
        
    },
    methods: {
        login: function(){
            if (this.username != "" && this.roomCodeInput != "") {
                if (this.roomCodeInput == this.roomCode) {

                    authentication = true;
                    alert("login successful")
                } else {
                    console.log("The username and / or password is incorrect");
                    }
            } else {
                console.log("A username and password must be present");
            }
        },

        startGame: function(){
            if (authentication = true){
                // go to player.html
                alert("ready set go")
            } else {
                alert("please login with a valid username/room code")
            }
        }
    }
})

</script>
</body>
</html>