<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Subwords Player Intro</title>
</head>
<body>
    <!--Client Side for Player Additions-->
    <!--<script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>-->
    
    <div id="app">
        <v-app class="green darken-4 white--text">
            <v-content>
                <v-container>
                    <v-layout align-center justify-center column fill-height>
                        <h1 style="margin: 0.7em;">Join a Game</h1>
                        <v-text-field
                            label="playerName"
                            v-model="playerName"
                            placeholder="Name"
                            solo
                        ></v-text-field>
                        <v-text-field
                            label="roomCodeInput"
                            v-model="roomCodeInput"
                            placeholder="Room Code"
                            solo
                            maxlength="4"
                        ></v-text-field>
                        <v-btn dark @click="login(); snackbar = true">Login</v-btn>
                        <v-btn dark v-if="authentication" @click = "messagemaker; startGame()"  >Start Game</v-btn>
                    </v-layout>
                    <v-snackbar
                        v-model="snackbar"
                        :color="color"
                        :timeout="timeout"
                        multi-line
                        vertical
                        top
                        >
                        {{ text }}
                        <v-btn
                        dark
                        flat
                        @click="snackbar = false"
                        >
                        Close
                        </v-btn>
                    </v-snackbar>
                </v-container>
            </v-content>
        </v-app>
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

/*
    1. Get socket communicating (start socket, emit message back to server, server prints message)
    2. Use Vue to print out a message when you click on "Let's go" (with a function)
    3. Change that function to 'emit' a message back to the server with player name and room code
    4. Have the server print out the player name and room code
*/

var app = new Vue({
    el: '#app',
    data: {

        roomCode: "asdf",
        roomCodeInput: "",
        authentication: false,
        playerName: "",
        
        
        snackbar: false,
        timeout: 3000,
        text: "",
        color: "",

        message: "hi i'm intro page"

      
    },
    methods: {
        login: function(){
            // snackbar = true
            console.log(this.username)
            if (this.username && this.roomCodeInput != "") {
                if (this.roomCodeInput == this.roomCode) {
                    this.authentication = true
                    this.color = "success"
                    this.text = "Login Successful! Click Start to begin game."
                } else {
                    this.color = "error"
                    this.text = "The username and/or password is incorrect. Try again"
                }
            } else {
                this.color = "error"
                this.text = "A username and password must be present."
            } 
        },

        startGame: function(){
            if (this.authentication == true){
                // go to player.html
                alert("ready set go")
            } else {
                this.color = "error"
                this.text = "please login with a valid username/room code."
            }
            console.log(this.authentication)
        },

        messagemaker: function(event){
            let socket = io.connect('http://localhost:8080')

            socket.on('message', (data) => {
                console.log(data)
                socket.emit('player event', {Name: this.playerName, Code: this.roomCodeInput})
            })
        }
    }
})

</script>
</body>
</html>