<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Subwords</title>
</head>
<body>
    <div id="app">
        <v-app class="green darken-4 white--text">
            <v-content>
                <v-container>
                    <v-layout align-center justify-center column fill-height>
                            <h1  
                            style="margin: 0.7em"
                            font-size ="1.5em"
                            class="display-word" 
                            >{{ word }}</h1>
                             <v-card>
                                <v-card-text>
                                    <v-text-field v-model="value" label="Type Answer" :maxlength="max"></v-text-field>
                                </v-card-text>
                            </v-card>
                            <v-btn justify-center dark @click="sendWord(); snackbar= true">
                                    Submit
                            </v-btn>
                            <h2>Points: {{ player.pts }}</h2>
                        
                    </v-layout>
                    <v-snackbar
                        v-model="snackbar"
                        :color="color"
                        :timeout="timeout"
                        multi-line
                        vertical
                        top
                        >
                        {{ text }}
                        <v-btn
                        dark
                        flat
                        @click="snackbar = false"
                        >
                        Close
                        </v-btn>
                    </v-snackbar>
                </v-container>
            </v-content>
        </v-app>
        
      
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

let socket = io.connect('http://localhost:8080')

var app = new Vue({
    el: '#app',
    data: {
        word: "",
        value: "",
        max: 3,
        player: {
            pts: 0,
            name: ""
        },
        snackbar: false,
        timeout: 3000,
        text: "",
        color: "",
    },
    mounted() {
        socket.on("addPoints", (data) => {
            app.player.pts += data
            app.value = ""
        })

        socket.on('badGuess', () => {
            app.value = ""
            app.color = "error"
            app.text = "WRONG! That is not a SubWord. Try Again"
        })

        socket.on('newWord', (data) => {
            app.word = data.word
            app.max = app.word.length
        })
    },
    methods: {
        sendWord: function () {
            socket.emit('guess', app.value)
        }
    }
})

</script>
</body>
</html>